svg#building{position:fixed; left:120px; top:78px}
svg#tower{position:fixed; left:85px; top:65px}
div#first{position:fixed; left:83px; top:22px}
svg#flag{position:relative; left:33px; top:12px}
div#second{position:relative; left:12px;}